<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">LogoPizzaria</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cardapio">Cardápio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sobrenos">Sobre-Nós</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
