<div class="container mx-auto mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="../../../../assets/cardapio/img4.jpg" class="card-img-top" alt="..." style="max-height: 190.36px;">
        <div class="card-body">
          <h5 class="card-title">Pizza de Bacon</h5>
          <p class="card-text">É especialmente preparada com bacon inglês de primeira qualidade.</p>
          <p>Preço $80</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="../../../../assets/cardapio/img1.jpg" class="card-img-top" alt="..." style="max-height: 190.36px;">
        <div class="card-body">
          <h5 class="card-title">Pizza de Calabresa</h5>
          <p class="card-text">É especialmente preparada com recheio generoso de linguiça calabresa de primeira qualidade, queijo muçarela e orégano.</p>
          <p>Preço $60</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="../../../../assets/cardapio/img5.jpg" class="card-img-top" alt="..." style="max-height: 190.36px;">
        <div class="card-body">
          <h5 class="card-title">Pizza 4 Queijos</h5>
          <p class="card-text">A clássica pizza "quatro queijos" é feita com muçarela, provolone, parmesão e gorgonzola.</p>
          <p>Preço $65</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="../../../../assets/cardapio/img6.jpg" class="card-img-top" alt="..." style="max-height: 190.36px;">
        <div class="card-body">
          <h5 class="card-title">Pizza Napolitana</h5>
          <p class="card-text">É prato especial da casa. queijo, tomate e alguns temperos especiais.</p>
          <p>Preço $70</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="../../../../assets/cardapio/img7.jpg" class="card-img-top" alt="..." style="max-height: 190.36px;">
        <div class="card-body">
          <h5 class="card-title">Pizza Portuguesa</h5>
          <p class="card-text">Combinação de ingredientes como ervilha, azeitona, molho de tomate, cebola, ovos, queijo, linguiça calabresa e orégano.</p>
          <p>Preço $75</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="../../../../assets/cardapio/img8.jpg" class="card-img-top" alt="..." style="max-height: 190.36px;">
        <div class="card-body">
          <h5 class="card-title">Pizza Margherita</h5>
          <p class="card-text">Mussarela, manjericão e tomate em uma massa macia por dentro e crocante por fora.</p>
          <p>Preço $60</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="../../../../assets/cardapio/img9.jpg" class="card-img-top" alt="..." style="max-height: 190.36px;">
        <div class="card-body">
          <h5 class="card-title">Pizza Americana</h5>
          <p class="card-text">É especialmente preparada com calabresa e queijo de primeira qualidade.</p>
          <p>Preço $60</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="../../../../assets/cardapio/img10.jpg" class="card-img-top" alt="..." style="max-height: 190.36px;">
        <div class="card-body">
          <h5 class="card-title">Pizza de pepperoni</h5>
          <p class="card-text">Seu maior diferencial é a borda, que é grande e trançada, borda recheada.</p>
          <p>Preço $70</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="../../../../assets/cardapio/img4.jpg" class="card-img-top" alt="..." style="max-height: 190.36px;">
        <div class="card-body">
          <h5 class="card-title">Pizza de Bacon</h5>
          <p class="card-text">É especialmente preparada com bacon inglês de primeira qualidade.</p>
          <p>Preço $60</p>
        </div>
      </div>
    </div>
  </div>
</div>

<form>
  <div class="container">
    <div class="col text-center">
      <button type="button" class="btn btn-outline-dark mt-3 mb-3"><a href="https://api.whatsapp.com/send?phone=5516991458499&text=Ol%C3%A1%20gostaria%20de%20fazer%20meu%20pedido">Realizar Pedido</a></button>
    </div>
  </div>
</form>

<ng-template #mymodalcardapio let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Pedido</h4>
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">
      <i class="fa-solid fa-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="col-form-label mt-2" for="inputDefault">Nome</label>
      <input type="text" class="form-control" placeholder="Nome para contato" id="inputDefault">
      <label class="col-form-label mt-2" for="inputDefault">E-mail</label>
      <input type="text" class="form-control" placeholder="E-mail para contato" id="inputDefault">
      <label class="col-form-label mt-2" for="inputDefault">Telefone</label>
      <input type="text" class="form-control" placeholder="Telefone para contato" id="inputDefault">
      <label for="exampleTextarea" class="form-label mt-2">Informe Seu Pedido</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Enviar</button>
  </div>
</ng-template>
